<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test Case">
        <classes>
         
            <class name="com.zohoapp.loginTest.LoginTest">
            <methods>
                    <include name="loginTest"/>
           
           
            </methods>
            </class>
        </classes>
    </test>
</suite>
